{
  "bracketSpacing": true,
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "svelteSortOrder" : "options-scripts-styles-markup",
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true
}